@model IEnumerable<EVote.DataModels.VoterDataModel>


@if (ViewBag.EmptyList >= 1)
{
    <p>@ViewBag.EmptyList Voters Found</p>

<table class="table">
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Select", "Edit", new { barCode = item.BarCode }, new { @class = "btn btn-default" })
        </td>
        <td style="padding-right:5px; width:120px; text-align:right;">
            <span style="color:gray;">Name </span>
        </td>
        <td style="padding-left:0; width:200px;">            
            <strong>@Html.DisplayFor(modelItem => item.LastName)</strong>
            <br />
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.MiddleName)
            @Html.DisplayFor(modelItem => item.Generation)
        </td>
        <td style="padding-right:5px; width:120px; text-align:right;">
            <span style="color:gray;">Address </span>
        </td>
        <td  style="padding-left:0;">
            @Html.DisplayFor(modelItem => item.Address1)
            @Html.DisplayFor(modelItem => item.Address2)
            <br />
            @Html.DisplayFor(modelItem => item.City)
            @Html.DisplayFor(modelItem => item.State)
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td style="padding-right:5px; width:120px; text-align:right;">
            <span style="color:gray;">Birthdate </span>
        </td>
        <td  style="padding-left:0;">
            @item.DOB.ToString().Substring(0, item.DOB.ToString().IndexOf(" ") + 1)
        </td>
    </tr>

    <tr>
        <td style="border-top: 0; padding-top:0;">
            @Html.HiddenFor(modelItem => item.DOBSearch)
            @Html.HiddenFor(modelItem => item.LogCode)
        </td>        
        <td style="border-top: 0; padding-top:0; padding-right:5px;text-align:right;">
            <span style="color:gray;">Roll No </span>
        </td>
        <td style="border-top: 0; padding-top:0; padding-left:0px;">            
            @Html.DisplayFor(modelItem => item.VoterID)
        </td>
        <td style="border-top: 0; padding-top:0; padding-right:5px; text-align:right; width:130px;">
            <span style="color:gray;">Voting Status </span>
        </td>
        <td style="border-top: 0px none white; padding-top:0px; padding-left:0px;">            
            @Html.DisplayFor(modelItem => item.LogDescription)
        </td>
        @if (Session["ShowDistrict"].ToString() == "True")
        {
            <td style="border-top: 0; padding-top:0; padding-right:5px; width:50px; text-align:right;">
                <span style="color:gray;">District </span>
            </td>
            <td style="border-top: 0px none white; padding-top:0px; padding-left:0px;">
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
        }
        else
        {
            <td style="border-top: 0px none white;">&nbsp;</td>
            <td style="border-top: 0px none white;">&nbsp;</td>
        }
    </tr>
}

</table>
}
else
{
    <div class="col-sm-4 pull-right">
        <p style="font-size:1.5em; color:red; font-weight:600;">No Voters Found</p>
    </div>
}