
@{
    ViewBag.Title = "Election Stats";
}

<br /><br />

<h2>Voter Counts</h2>

Total Voters: @ViewBag.TotalCounts<br />
Active Voters: @ViewBag.ActiveCounts
<span style="color:red;">[@ViewBag.Percent%]</span>
<br />

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-5">
            <img src="@Url.Action("CreateAllMailDistrictPie")" alt="Voter Counts Chart" />
        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-5">
            <img src="@Url.Action("CreateAllMailElectionPie")" alt="Voter Counts Chart" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <img src="@Url.Action("AllMailEligibleChart")" alt="Voter Counts Chart" />
        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-5">
            <img src="@Url.Action("ElectionActivityColorChart")" alt="Voter Counts Chart" />
        </div>
    </div>
</div>

